<a href="https://colab.research.google.com/github/viett887g/pandas1/blob/main/pandas1_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np
import pandas as pd
import math

In [11]:
import random as rd

In [ ]:
Khởi tạo 1 Series với giá trị rỗng

In [6]:
s = pd.Series()
print(s)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [ ]:
Giả sử có 1 vector hàng a có kích thước (1x7) được biểu diễn trong NumPy, hãy tạo 1 series tương ứng với các giá trị được sinh ngẫu nhiên

In [12]:
bo = []
for i in range(7):
  bo.append(rd.randint(1,100))

s = pd.Series(bo)
print(s)

0    47
1    48
2    77
3    41
4    54
5    74
6     1
dtype: int64

In [ ]:
Giả sử có 1 vector hàng a có kích thước (1x7), hãy nhập các giá trị cho 7 phần tử này từ bàn phím và tạo series tương ứng.

In [15]:
w = []
magie = 0
while magie < 7:
  m = input("Nhap phim bt ki: ")
  w.append(m)
  magie+=1
s = pd.Series(w)
print(s)

Nhap phim bt ki: ư
Nhap phim bt ki: qe
Nhap phim bt ki: r
Nhap phim bt ki: qea
Nhap phim bt ki: ưe
Nhap phim bt ki: f
Nhap phim bt ki: zv
0      ư
1     qe
2      r
3    qea
4     ưe
5      f
6     zv
dtype: object

In [ ]:
Giả sử có 1 vector cột có kích thước (7x1) được biểu diễn trong NumPy, hãy tạo Series tương ứng

In [31]:
natri=0
while natri < 1:
  natri +=1
s = {'1': pd.Series(natri), 
     '2': pd.Series(natri),
     '3': pd.Series(natri),
     '4': pd.Series(natri),
     '5': pd.Series(natri),
     '6': pd.Series(natri),
     '7': pd.Series(natri)}
s = pd.DataFrame(s)
print(s)

   1  2  3  4  5  6  7
0  1  1  1  1  1  1  1

In [ ]:
 Chuyển đổi dữ liệu, hãy thực hiện các yêu cầu sau:

In [ ]:
Chuyển 1 list thành 1 series
Chuyển 1 tuple thành 1 series
Chuyển 1 dictionary thành 1 series

In [32]:
lis = [1,2,3,4,5]
lis = pd.Series(lis)
print(lis)

tu = (1,2,3,4)
tu = pd.Series(tu)
print(tu)

dic = {'a': 1, 'b':2, 'c':3}
dic = pd.Series(dic)
print(dic)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
dtype: int64

In [ ]:
Mỗi phần tử của series đều gắn liền với các chỉ số (index) tương ứng, hãy tạo một series có kích thước (1x20) với giá trị ngẫu nhiên:

Xuất series ra màn hình
Xuất các chỉ số của series ra màn hình
Thay đổi cách đánh chỉ số mặc định của series từ đánh chỉ số bằng số nguyên sang các kiểu đánh chỉ số bằng label và in kết quả ra màn hình
Gợi ý:

Hàm loc() dùng cho chỉ số label
Hàm iloc() dùng cho chỉ số đạng số nguyên
Hàm ix(): dùng cho cả 2 loại chỉ số trên

In [39]:
sample = []
for i in range(20):
  sample.append(rd.randint(1,100))
sample = pd.Series(sample)
print(sample)
print("----------------------------------")

for i in range(len(sample)):
  print(sample[i])

print("----------------------------------")
abc = ["a","b","c","d","e","f"]
sample = []
sample1 = []

for i in range(20):
  sample.append(rd.randint(1,100))

for i in range(10):
  sample1.append(rd.choice(abc))
s = pd.Series(sample,index= sample1)
s = pd.DataFrame(s, columns=['abc'])
print(s)
print("---------------------------------")
print(s.loc['a'])

0     78
1     11
2     33
3     60
4      7
5     63
6     87
7     60
8     33
9     68
10    88
11    31
12    22
13    98
14    29
15    69
16     5
17    54
18    42
19    82
dtype: int64
----------------------------------
78
11
33
60
7
63
87
60
33
68
88
31
22
98
29
69
5
54
42
82
----------------------------------

ValueError: ignored

In [ ]:
Câu 7: Giả sử có series có kích thước (1x10), giá trị ngẫu nhiên, index được đánh từ ‘a’ trở đi, hãy:

Trích xuất các phần tử của Series có chỉ số là ‘a’, ‘c’, ‘e’
Trích xuất các phần tử của Series có chỉ số từ 3 đến 6

In [41]:
abc = ['a','b','c','d','e','f','g','h','l','k']
s = []
ind = []
for i in range(10):
  s.append(rd.randint(1,100))


s = pd.Series(s,index=abc)
print(s)
df = pd.DataFrame(s)

print(df.loc[['a','c','e']])

a = []
for i in range(3,7):
  a.append(i)
print(df.iloc[a])

a    27
b    65
c     8
d    64
e    66
f    18
g    98
h    94
l    14
k    32
dtype: int64
    0
a  27
c   8
e  66
    0
d  64
e  66
f  18
g  98